<div class="header">
	<div class="logo">
		LOGO
	</div>
</div>

<div class="nav">

	<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
		<div class="nav-item" [routerLink]="[p.url]">
			<span class="icon">{{p.icon}}</span>
			{{p.title}}
			<span class="divider"></span>
		</div>
	</ion-menu-toggle>
</div>

<div class="footer">
	<div class="footer-nav">
		<ul>
			<li (click)="leaveAReview()">Like this app? Leave a review!</li>
		</ul>
	</div>

	<div class="footer-social">
		<ion-icon (click)="openInstagramProfile()" name="logo-instagram"></ion-icon>
		<ion-icon (click)="openFacebookProfile()" name="logo-facebook"></ion-icon>
		<ion-icon (click)="openTwitterProfile()" name="logo-twitter"></ion-icon>
		<ion-icon (click)="openWebsite()" name="globe"></ion-icon>
	</div>

	<div class="footer-app-version">
		Version v{{version}}
	</div>
</div>